Repository icon-project/IBC-Integration, pull requests merged in 2023-11, with the labels that each got.

#737 fix: e2e run
  .github/packer/builder.sh
  .github/packer/builds.pkr.hcl
  .github/workflows/e2e-runner.yml
  .github/workflows/packer-build.yml
  .github/workflows/runner-start.yml
  .github/workflows/runner-stop.yml
  .gitignore
  Makefile
  scripts/execute-test.sh
  scripts/optimize-cosmwasm.sh
  scripts/optimize-xcall-build.sh
  test/chains/icon/data/config.json
  test/chains/icon/data/single/auth.json
  test/chains/icon/data/single/icon_config.json
  test/chains/icon/data/single/rconfig.json
  test/chains/icon/icon_node.go
  test/integration/tests/relayer.go
  test/testsuite/integration_suite.go
Labels: scripts, test, cicd

#788 ci: fix rustc version to 1.69.0
  .github/workflows/basic-rust.yml
  .github/workflows/cosmwasm-contracts-code-coverage.yml
Labels: cicd

#790 fix: error on duplicate packet
  Cargo.lock
  Cargo.toml
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/send_message.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_owner.rs
Labels: bug, bump:patch
