Repository icon-project/IBC-Integration, pull requests merged in 2023-08, with the labels that each got.

#602 docs: add test badges for java and rust
  README.md
Labels: documentation

#631 feat: clone submodules to deploy java smart contracts
  .github/workflows/uat-deploy-java-contracts.yml
Labels: cicd

#621 feat: crash tests
  README.md
  contracts/cosmwasm-vm/cw-mock-ibc-dapp/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-ibc-dapp/src/lib.rs
  contracts/cosmwasm-vm/cw-mock-ibc-dapp/src/msg.rs
  contracts/cosmwasm-vm/cw-mock-ibc-dapp/src/send_message.rs
  contracts/cosmwasm-vm/cw-mock-ibc-dapp/src/state.rs
  docs/e2e-integration-test-setup.md
  test/README.md
  test/chains/chain.go
  test/chains/chainConfig.go
  test/chains/cosmos/cosmos_chain.go
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/cosmos/types.go
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/chains/methods.go
  test/chains/types.go
  test/e2e/e2e_test.go
  test/e2e/tests/xcall.go
  test/integration/integration_test.go
  test/integration/tests/relayer.go
  test/relayer/docker.go
  test/relayer/icon/icon_relayer.go
  test/relayerfactory.go
  test/testsuite/e2e_suite.go
  test/testsuite/integration_suite.go
  test/testsuite/integrationsuite.go
  test/testsuite/relayer/relayer.go
  test/testsuite/sample-config-archway.yaml
  test/testsuite/testconfig/testconfig.go
  test/testsuite/testsuite.go
Labels: test

#638 fix: Recv Packet complexity #189
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
Labels: Archway, Audit Issue

#641 fix: Set Expected time per block not admin guarded. #186
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_access.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_execution_messages.rs
Labels: Archway, Audit Issue

#645 fix: Only allow connection to be in INIT state during connectionOpenAck
  contracts/javascore/ibc/src/main/java/ibc/ics03/connection/IBCConnection.java
  contracts/javascore/ibc/src/test/java/ibc/ics03/connection/ConnectionTest.java
Labels: Audit Issue

#644 fix: Make verify membership functions readonly in tendermint lightclient
  contracts/javascore/lightclients/mockclient/src/main/java/ibc/mockclient/MockClient.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
Labels: Audit Issue

#639 fix: duplicate signatures issue
  contracts/cosmwasm-vm/cw-icon-light-client/src/light_client.rs
Labels: Archway, Audit Issue

#642 fix: IBC core is using xcall connection message type. #184
  contracts/cosmwasm-vm/cw-common/src/ibc_dapp_msg.rs
  contracts/cosmwasm-vm/cw-common/src/lib.rs
  contracts/cosmwasm-vm/cw-common/src/xcall_connection_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_channel_closeinit.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
  contracts/cosmwasm-vm/cw-integration/tests/test_host_lightclient.rs
  contracts/cosmwasm-vm/cw-mock-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc_functions.rs
Labels: Archway, Audit Issue

#643 fix: Authenticate capability missing on Send packet method. #182
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/send_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_packet.rs
Labels: Archway, Audit Issue

#646 fix: E2E and integration packet timeout test
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  test/chains/chain.go
  test/chains/cosmos/events.go
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/cosmos/types.go
  test/chains/icon/events.go
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/chains/icon/types.go
  test/chains/methods.go
  test/chains/types.go
  test/e2e/e2e_test.go
  test/e2e/tests/xcall.go
  test/integration/integration_test.go
  test/integration/tests/relayer.go
  test/relayer/docker.go
  test/testsuite/e2e_suite.go
  test/testsuite/integration_suite.go
  test/testsuite/testsuite.go
Labels: test

#640 fix: multiple writeack in IBC core #187
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/write_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
Labels: Archway, Audit Issue

#663 fix: owner check removed from ibc-handler
  contracts/javascore/ibc/src/main/java/ibc/ics25/handler/IBCHandler.java
Labels: ICON, Audit Issue

#667 feat: e2e demo script
  .gitignore
  Makefile
  docs/e2e-integration-test-setup.md
  go.mod
  go.sum
  test/chains/chain.go
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/cosmos/types.go
  test/chains/icon/data/genesis.json
  test/chains/icon/icon_chain.go
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/chains/types.go
  test/e2e-demo/e2e_demo_test.go
  test/e2e/tests/xcall.go
  test/file_utils.go
  test/integration/integration_test.go
  test/interchain.go
  test/internal/dockerutil/setup.go
  test/relayer/docker.go
  test/relayer/icon/icon_relayer.go
  test/relayerfactory.go
  test/test_setup.go
  test/testsuite/e2e_suite.go
  test/testsuite/integration_suite.go
  test/testsuite/sample-config-archway.yaml
  test/testsuite/sample-config-neutron.yaml
  test/testsuite/testsuite.go
Labels: test

#647 fix: refactor unnecessary replies
  contracts/cosmwasm-vm/cw-common/src/raw_types.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/constants.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/context.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/error.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/events.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler/open_init.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/send_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/write_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/light_client/light_client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_channel_closeinit.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_close_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_ack.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/setup.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_access.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
Labels: Archway, Audit Issue

#660 ci: add pr label checker
  .github/labeler.yml
  .github/workflows/auto-pr-labeler.yaml
  .github/workflows/check-pr-label.yaml
Labels: cicd

#657 fix: port initialization removed
  contracts/javascore/xcall-connection/build.gradle
  contracts/javascore/xcall-connection/src/main/java/ibc/xcall/connection/IBCConnection.java
  test/chains/icon/localnet.go
Labels: ICON, Audit Issue

#665 fix: if connection open check is added
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCChannelHandshake.java
Labels: ICON, Audit Issue

#677 ci: add manual trigger cicd job to create and push release tag
  .github/workflows/release_tag_manager.yml
Labels: scripts, cicd

#676 fix: Cleanup comments and TODOs in IBC Java score
  contracts/javascore/ibc/src/intTest/java/ibc/core/integration/IBCIntegrationTest.java
  contracts/javascore/ibc/src/main/java/ibc/ics02/client/IBCClient.java
  contracts/javascore/ibc/src/main/java/ibc/ics03/connection/IBCConnection.java
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCChannelHandshake.java
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCPacket.java
  contracts/javascore/ibc/src/main/java/ibc/ics25/handler/IBCHandlerChannel.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
Labels: bug

#679 feat: Add method to get IBC config for xCall connections
  contracts/cosmwasm-vm/cw-common/src/xcall_connection_msg.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/types/config_response.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/types/mod.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc_functions.rs
  contracts/javascore/xcall-connection/src/main/java/ibc/xcall/connection/IBCConnection.java
  contracts/javascore/xcall-connection/src/test/java/ibc/xcall/connection/IBCConnectionTest.java
Labels: enhancement

#618 docs: update contract build steps, remove codecov badges
  contracts/cosmwasm-vm/README.md
Labels: documentation
