Repository icon-project/IBC-Integration, pull requests merged in 2023-09, with the labels that each got.

#572 ci: add release workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
  .github/workflows/release.yaml
  README.md
  contracts/javascore/build.gradle
  contracts/javascore/ibc/build.gradle
  contracts/javascore/modules/mockapp/build.gradle
  contracts/javascore/xcall-connection/build.gradle
  scripts/optimize-cosmwasm.sh
Labels: documentation, scripts, cicd

#636 fix: Missing IBC core checks against timestamp #191
  contracts/cosmwasm-vm/cw-common/src/client_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/error.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/send_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/light_client/light_client.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/setup.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_access.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/contract.rs
Labels: enhancement, Archway, Audit Issue

#686 fix: setFees is admin guarded
  contracts/cosmwasm-vm/cw-common/src/xcall_connection_msg.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/types/config_response.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/types/mod.rs
Labels: bug, Archway, Audit Issue, Cosmwasm

#664 fix: hasPacketReciept method removed
  contracts/javascore/ibc/src/main/java/ibc/ics24/host/IBCStore.java
  contracts/javascore/lib/src/main/java/ibc/icon/interfaces/IIBCHost.java
  test/chains/icon/params.go
Labels: ICON, test, Audit Issue

#695 ci: fix build issues
  contracts/javascore/settings.gradle
  scripts/optimize-cosmwasm.sh
Labels: scripts

#662 fix: Rust Light Client update reply #181
  contracts/cosmwasm-vm/cw-common/src/client_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/send_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_execution_messages.rs
  libraries/rust/common/src/btp_header.rs
  libraries/rust/common/src/client_state.rs
  libraries/rust/common/src/consensus_state.rs
  scripts/optimize-cosmwasm.sh
Labels: enhancement, Archway, scripts, Audit Issue

#670 fix: use consensus state and client state from lightclient 232
  contracts/cosmwasm-vm/cw-common/src/client_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/error.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/send_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/light_client/light_client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/state.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/storage_keys.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_channel_closeinit.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_close_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_execution_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_ack.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_write_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/setup.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_access.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_connection.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_execution_messages.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/contract.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/query_handler.rs
  contracts/javascore/score-util/src/main/java/ibc/icon/score/util/StringUtil.java
  libraries/rust/common/src/btp_header.rs
  libraries/rust/common/src/client_state.rs
  libraries/rust/common/src/consensus_state.rs
Labels: bug, Archway, Audit Issue

#691 fix: remove unnecessary comments
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/connection.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics05_port/port.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_host.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_admin.rs
Labels: enhancement, Archway, Audit Issue, Cosmwasm

#690 feat: e2e runner setup
  .github/PULL_REQUEST_TEMPLATE.md
  .github/packer/builder.sh
  .github/packer/builds.pkr.hcl
  .github/packer/locals.pkr.hcl
  .github/packer/relayer.Dockerfile
  .github/packer/require.pkr.hcl
  .github/packer/sources.pkr.hcl
  .github/packer/variables.pkr.hcl
  .github/workflows/e2e-runner.yml
  .github/workflows/runner-start.yml
  .github/workflows/runner-stop.yml
  Makefile
Labels: documentation, cicd

#707 chore: update package list to generate schema
  .github/workflows/basic-rust.yml
  contracts/cosmwasm-vm/cw-ibc-core/schema/cw-ibc-core.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/execute.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/instantiate.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/query.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_all_ports.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_capability.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_channel.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_client_implementation.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_client_registry.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_client_state.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_client_type.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_commitment.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_commitment_prefix.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_connection.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_consensus_state.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_consensus_state_by_height.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_expected_time_per_block.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_latest_height.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_missing_packet_receipts.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_next_channel_sequence.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_next_client_sequence.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_next_connection_sequence.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_next_sequence_acknowledgement.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_next_sequence_receive.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_next_sequence_send.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_packet_acknowledgement_commitment.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_packet_commitment.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_packet_heights.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_packet_receipt.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_get_previous_consensus_state_height.json
  contracts/cosmwasm-vm/cw-ibc-core/schema/raw/response_to_has_packet_receipt.json
  contracts/cosmwasm-vm/cw-ibc-core/src/bin/schema.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/cw-xcall-ibc-connection.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/execute.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/instantiate.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/query.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/response_to_get_admin.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/response_to_get_fee.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/response_to_get_ibc_config.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/response_to_get_timeout_height.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/schema/raw/response_to_get_unclaimed_fee.json
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/bin/schema.rs
Labels: bump:none, cicd, Cosmwasm

#705 feat: add library feature for xcall ibc connection
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/lib.rs
Labels: enhancement, Archway, bump:minor, Cosmwasm

#709 fix: disallow duplicate update header for same height
  contracts/cosmwasm-vm/cw-icon-light-client/src/contract.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/error.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/light_client.rs
Labels: bug, Archway

#711 feat: cw-mock-ibc-connection added
  Cargo.lock
  contracts/cosmwasm-vm/cw-mock-ibc-connection/.cargo/config
  contracts/cosmwasm-vm/cw-mock-ibc-connection/Cargo.toml
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/admin.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/assertion.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/error.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/fee.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/lib.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/msg.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/send_message.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/state.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/types/config.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/types/mod.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/types/network_fees.rs
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/types/storage_keys.rs
Labels: enhancement

#698 chore: exclude cosmwasm library and common file from contract deployment
  scripts/deploy_cosmwasm.sh
Labels: scripts

#684 fix: fee check added in sendMessage
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/error.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/send_message.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_send_message.rs
Labels: enhancement, Archway, Audit Issue, Cosmwasm

#715 fix: owner check removed in addAdmin
  contracts/cosmwasm-vm/cw-mock-ibc-connection/src/admin.rs
Labels: bug, Cosmwasm

#687 fix: admin and owner state changed to Addr, and corresponding tests fixed
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/owner.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/state.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc_functions.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_owner.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_receive_packet.rs
Labels: enhancement, Archway, Audit Issue, Cosmwasm

#692 fix: remove_admin and update_owner, update_admin are removed
  contracts/cosmwasm-vm/cw-mock-ibc-dapp/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/owner.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_owner.rs
Labels: enhancement, Archway, Audit Issue, Cosmwasm

#727 fix: ibc query method get consensus state by height should return any type
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
Labels: bug

#734 feat: save write ack event height
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCPacket.java
  contracts/javascore/ibc/src/main/java/ibc/ics24/host/IBCStore.java
  contracts/javascore/ibc/src/test/java/ibc/ics25/handler/IBCHandlerTest.java
Labels: enhancement

#736 feat: test multiple packets on same height
  .github/workflows/deploy-cosmwasm-contracts.yml
  scripts/deploy_cosmwasm.sh
  test/integration/tests/relayer.go
  test/testsuite/integration_suite.go
Labels: enhancement, scripts, test, cicd

#700 feat: add write ack log
  contracts/cosmwasm-vm/cw-common/src/core_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/context.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/write_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/state.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/storage_keys.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_write_acknowledgement.rs
Labels: enhancement, Archway

#738 fix: point to xcall tag
  .gitignore
  Cargo.lock
  Cargo.toml
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/xcall.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc_functions.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_receive_packet.rs
  scripts/optimize-xcall-build.sh
Labels: bug, scripts

#741 fix: address decoding on fee claim
  contracts/javascore/xcall-connection/src/main/java/ibc/xcall/connection/IBCConnection.java
  contracts/javascore/xcall-connection/src/test/java/ibc/xcall/connection/IBCConnectionTest.java
Labels: bug

#740 fix: do not send fund to ibc core on send_call_message
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/fee.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/ibc_host.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/send_message.rs
Labels: bug

#742 feat: Add artifact checksum in release
  .github/workflows/release.yaml
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/ibc_host.rs
  contracts/javascore/build.gradle
  scripts/optimize-cosmwasm.sh
Labels: scripts, cicd

#744 ci: fix download error
  .github/workflows/release.yaml
Labels: cicd

#746 ci: revert release workflow changes
  .github/workflows/release.yaml
Labels: Archway, cicd

#751 fix: call update admin
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
Labels: bug, bump:minor

#750 ci: add terraform deployment script
  .github/deployer/ec2_deployer.tf
  .github/deployer/init_script.sh
  .github/workflows/run-deployer.yml
Labels: cicd

#758 ci: update release build tag format
  .github/workflows/release.yaml
Labels: cicd
