Repository icon-project/IBC-Integration, pull requests merged in 2023-04, with the labels that each got.

#179 feat: 59 user story client implementing handler for create client
  contracts/cosmwasm-vm/cw-ibc-core/Cargo.toml
  contracts/cosmwasm-vm/cw-ibc-core/src/contract.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/error.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/events.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/state.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
Labels: Feature, HugoByte

#142 feat(test): 42-test scenario test if owner can add admin
  go.mod
  go.sum
  test/chains/archway/archway_chain.go
  test/chains/chain.go
  test/chains/cosmos/localnet.go
  test/chains/cosmos/testnet.go
  test/chains/cosmos/types.go
  test/chains/icon/icon_chain.go
  test/chains/icon/localnet.go
  test/chains/icon/testnet.go
  test/chains/types.go
  test/integration/admin_test.go
  test/integration/config.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#5 docs: Initial draft for xcall adr
  docs/adr/xCallArchitecture.png
  docs/adr/xcall.md
Labels: ICON, iBriz

#172 feat: 78 user story channel implementing opentry handshake
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/chan_types.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/events.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler/open_try.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
Labels: Feature, HugoByte, Channel

#174 feat(test): 43 test scenario test if non owner cannot add admin
  test/chains/chain.go
  test/chains/cosmos/localnet.go
  test/chains/cosmos/testnet.go
  test/chains/icon/localnet.go
  test/chains/icon/testnet.go
  test/chains/types.go
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#197 feat(test): 44 test scenario test if admin cannot add another admin
  test/integration/features/admin.feature
Labels: HugoByte

#198 feat: 63 user story client implement getclient
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
Labels: Feature, HugoByte

#205 feat: implement get client state
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/client.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/state.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
Labels: enhancement, Feature, HugoByte

#204 feat(test): 45 test scenario test if already added admin cannot be added again
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#215 fix: enable remove, update admin and add error handling
  contracts/cosmwasm-vm/cw-xcall/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/error.rs
  contracts/cosmwasm-vm/cw-xcall/src/msg.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_admin.rs
Labels: enhancement, HugoByte

#209 feat(test): null value cannot be added as admin #49
  test/chains/cosmos/localnet.go
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#213 feat: implementing handlers for misbehaviour#60
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/events.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
Labels: Feature, HugoByte

#212 feat(test): junk character cannot be added as new admin #52
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#223 feat(test): owner can update admin#46
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/cosmos/types.go
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#224 test: owner can remove admin#56
  test/chains/cosmos/params.go
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#252 test: Add scenario for non owner updating admin
  test/integration/features/admin.feature
Labels: HugoByte

#254 test: owner cannot update same admin who is already added
  test/integration/features/admin.feature
Labels: HugoByte

#255 test: Owner cannot update admin with null value
  test/integration/features/admin.feature
Labels: HugoByte

#256 test: admin cannot update admin
  test/integration/features/admin.feature
Labels: HugoByte

#257 test: non owner cannot remove admin#54
  test/integration/features/admin.feature
Labels: HugoByte

#258 test: owner cannot set admin twice#53
  test/integration/admin_test.go
  test/integration/executor.go
  test/integration/features/admin.feature
Labels: HugoByte

#208 feat: implementing openconfirm handshake for channel
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/events.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler/open_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
Labels: Feature, HugoByte, Channel

#214 feat: implement validate for close confirm for channel
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler/close_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/traits.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_close_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
Labels: Feature, HugoByte, Channel

#220 feat: channel implement get channel querier #81
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_ack.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
Labels: Feature, HugoByte, Channel

#259 feat: channel implement timeout #82
  contracts/cosmwasm-vm/cw-ibc-core/src/constants.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics02_client/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/delay.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics24_host/commitment.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_channel_closeinit.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_connection.rs
Labels: Feature, HugoByte, Channel

#261 fix: 84 bugxcall contract panics when we query get admin when list is empty
  contracts/cosmwasm-vm/cw-xcall/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/error.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/address.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_admin.rs
Labels: enhancement, HugoByte

#265 fix: invalid chars cannot be added as admin address
  contracts/cosmwasm-vm/cw-xcall/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/address.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_admin.rs
Labels: enhancement, HugoByte

#262 feat: implement send packet
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/send_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
Labels: Feature, HugoByte, Channel

#263 test: owner cannot update admin before adding admin#55
  test/integration/executor.go
  test/integration/features/xcall/admin.feature
  test/integration/xcall_test.go
Labels: HugoByte

#271 feat: implement receive packet
  contracts/cosmwasm-vm/cw-ibc-core/src/constants.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/recieve_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_recieve_packet.rs
Labels: Feature, HugoByte, Channel

#281 feat: implement lookup module by channel
  contracts/cosmwasm-vm/cw-ibc-core/src/ics05_port/port.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_port.rs
Labels: Feature, HugoByte, Channel

#276 feat: implement deploy contract for localnet#113
  test/chains/icon/icon_chain.go
  test/chains/icon/localnet.go
  test/chains/icon/testnet.go
  test/integration/config.go
  test/integration/executor.go
  test/integration/features/xcall/admin.feature
  test/integration/xcall_test.go
Labels: HugoByte

#277 feat: implementation of acknowledgement module
  contracts/cosmwasm-vm/cw-ibc-core/src/constants.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/events.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/lib.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/types.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/setup.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
Labels: Feature, HugoByte, Channel

#285 feat: execute contract for localnet#114
  test/chains/chain.go
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
Labels: HugoByte

#294 feat: implement identifier for host#107
  contracts/cosmwasm-vm/cw-common/src/client_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics03_connection/handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics04_channel/packet/timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics24_host/host.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_host.rs
Labels: Feature, HugoByte

#296 feat: implement bindport
  contracts/cosmwasm-vm/cw-ibc-core/src/ics05_port/mod.rs
  contracts/cosmwasm-vm/cw-ibc-core/src/ics05_port/port.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_port.rs
Labels: Feature, Channel

#306 feat: implement params for executing methods in contract in localnet#116
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
  test/chains/icon/wallet.go
  test/integration/executor.go
  test/integration/features/xcall/admin.feature
  test/integration/xcall_test.go
Labels: HugoByte

#289 feat(javascore): test vector commitments
  contracts/javascore/ibc/src/main/java/ibc/ics23/commitment/Compress.java
  contracts/javascore/ibc/src/main/java/ibc/ics23/commitment/Ics23.java
  contracts/javascore/ibc/src/main/java/ibc/ics23/commitment/Ops.java
  contracts/javascore/ibc/src/main/java/ibc/ics23/commitment/Proof.java
  contracts/javascore/ibc/src/test/java/ibc/ics23/commitment/Ics23Test.java
  contracts/javascore/ibc/src/test/java/ibc/ics23/commitment/LoadOpsTestData.java
  contracts/javascore/ibc/src/test/java/ibc/ics23/commitment/LoadProofTestData.java
  contracts/javascore/ibc/src/test/java/ibc/ics23/commitment/LoadVectorTestData.java
  contracts/javascore/ibc/src/test/java/ibc/ics23/commitment/OpsTest.java
  contracts/javascore/ibc/src/test/java/ibc/ics23/commitment/ProofTest.java
  contracts/javascore/ibc/src/test/resources/TestCheckAgainstSpecData.json
  contracts/javascore/ibc/src/test/resources/TestCheckLeafData.json
  contracts/javascore/ibc/src/test/resources/TestDoHashData.json
  contracts/javascore/ibc/src/test/resources/TestExistenceProofData.json
  contracts/javascore/ibc/src/test/resources/TestInnerOpData.json
  contracts/javascore/ibc/src/test/resources/TestLeafOpData.json
  contracts/javascore/ibc/src/test/resources/iavl/batch_exist.json
  contracts/javascore/ibc/src/test/resources/iavl/batch_nonexist.json
  contracts/javascore/ibc/src/test/resources/iavl/exist_left.json
  contracts/javascore/ibc/src/test/resources/iavl/exist_middle.json
  contracts/javascore/ibc/src/test/resources/iavl/exist_right.json
  contracts/javascore/ibc/src/test/resources/iavl/nonexist_left.json
  contracts/javascore/ibc/src/test/resources/iavl/nonexist_middle.json
  contracts/javascore/ibc/src/test/resources/iavl/nonexist_right.json
  contracts/javascore/ibc/src/test/resources/tendermint/batch_exist.json
  contracts/javascore/ibc/src/test/resources/tendermint/batch_nonexist.json
  contracts/javascore/ibc/src/test/resources/tendermint/exist_left.json
  contracts/javascore/ibc/src/test/resources/tendermint/exist_middle.json
  contracts/javascore/ibc/src/test/resources/tendermint/exist_right.json
  contracts/javascore/ibc/src/test/resources/tendermint/nonexist_left.json
  contracts/javascore/ibc/src/test/resources/tendermint/nonexist_middle.json
  contracts/javascore/ibc/src/test/resources/tendermint/nonexist_right.json
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
  contracts/javascore/score-util/src/main/java/ibc/icon/score/util/Proto.java
Labels: ICON, iBriz

#311 feat: allow option to choose between little endian and big endian encoding
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCPacket.java
  contracts/javascore/ibc/src/test/java/ibc/ics04/channel/PacketTest.java
  contracts/javascore/score-util/src/main/java/ibc/icon/score/util/Proto.java
  contracts/javascore/score-util/src/test/java/ibc/icon/score/util/ProtoTest.java
Labels: ICON

#309 test: if admin test scenarios for icon is working#121
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/chains/icon/testnet.go
  test/chains/types.go
  test/integration/executor.go
  test/integration/features/xcall/admin.feature
  test/integration/xcall_test.go
Labels: HugoByte

#315 feat: implement mock dapp
  Cargo.toml
  contracts/cosmwasm-vm/cw-mock-dapp/Cargo.toml
  contracts/cosmwasm-vm/cw-mock-dapp/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/errors.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/helper.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/lib.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/state.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/types.rs
  contracts/cosmwasm-vm/cw-mock-dapp/tests/mock_test.rs
  contracts/cosmwasm-vm/cw-mock-dapp/tests/setup.rs
Labels: enhancement, HugoByte

#321 feat: implement execute deploy and query contract for icon testnet#118
  test/chains/cosmos/cosmos_chain.go
  test/chains/cosmos/testnet.go
  test/chains/cosmos/types.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/chains/icon/testnet.go
  test/integration/executor.go
Labels: HugoByte
