Repository icon-project/IBC-Integration, pull requests merged in 2024-04, with the labels that each got.

#852 feat: add ics20-irc2 support
  contracts/javascore/ics20/build.gradle
  contracts/javascore/ics20/src/main/java/ibc/ics20/ICS20Transfer.java
  contracts/javascore/ics20/src/test/java/ibc/ics20/ICS20TransferTest.java
  contracts/javascore/lib/src/main/java/ics20/ICS20Lib.java
  contracts/javascore/score-util/src/main/java/ibc/icon/score/util/StringUtil.java
  contracts/javascore/settings.gradle
Labels: enhancement, Feature

#855 fix: acknowledgement compare issue fixed
  contracts/javascore/ics20/src/main/java/ibc/ics20/ICS20Transfer.java
Labels: bug

#856 fix: address comparision in tokenFallback
  contracts/javascore/ics20/src/main/java/ibc/ics20/ICS20Transfer.java
Labels: bug

#858 ci: add injectived, and neutornd binary
  .github/deployer/init_script.sh
Labels: cicd

#853 chore: add test coverage for xcall-ibc-connection
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/assertion.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/fee.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/setup.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_admin.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_call_service.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc_functions.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_owner.rs
Labels: test, rust

#828 fix: Require tendermint clientstate trustlevel to be >= 1/3
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCPacket.java
  contracts/javascore/lightclients/ics-08-tendermint/src/main/java/ibc/ics08/tendermint/ICS08TendermintLightClient.java
  contracts/javascore/lightclients/ics-08-tendermint/src/main/java/ibc/ics08/tendermint/Tendermint.java
  contracts/javascore/lightclients/ics-08-tendermint/src/main/java/ibc/ics08/tendermint/TendermintHelper.java
  contracts/javascore/lightclients/ics-08-tendermint/src/test/java/ibc/ics08/tendermint/LightClientTest.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/Tendermint.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintHelper.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTest.java
Labels: enhancement
