Repository icon-project/IBC-Integration, pull requests merged in 2024-03, with the labels that each got.

#827 fix: Fix reverse sign on timestamp check for request timeout
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCPacket.java
  contracts/javascore/ibc/src/test/java/ibc/ics04/channel/PacketTest.java
Labels: enhancement, Audit Issue

#846 chore: update test coverage for ibc client
  contracts/cosmwasm-vm/cw-ibc-core/tests/setup.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
Labels: Cosmwasm, rust

#848 chore: update test coverage for ics03-connection
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_connection.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_port.rs
Labels: test, Cosmwasm, rust

#850 chore: add test coverage for cosmwasm ibc core
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_acknowledgement.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_channel_closeinit.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_close_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_handler.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_ack.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_open_confirm.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_receive_packet.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/channel/test_timeout_on_close.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_channel.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_connection.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_host.rs
Labels: test, Cosmwasm, rust

#831 feat: Apply code improvments suggested during audit
  contracts/javascore/ibc/src/main/java/ibc/ics04/channel/IBCPacket.java
  contracts/javascore/lightclients/ics-08-tendermint/src/main/java/ibc/ics08/tendermint/ICS08TendermintLightClient.java
  contracts/javascore/lightclients/ics-08-tendermint/src/main/java/ibc/ics08/tendermint/Tendermint.java
  contracts/javascore/lightclients/ics-08-tendermint/src/test/java/ibc/ics08/tendermint/LightClientTest.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/Tendermint.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTest.java
Labels: enhancement

#851 chore: add unit test coverage for icon light client
  contracts/cosmwasm-vm/cw-icon-light-client/src/contract.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/light_client.rs
  contracts/cosmwasm-vm/cw-icon-light-client/src/state.rs
Labels: ICON, test, rust
