Repository icon-project/IBC-Integration, pull requests merged in 2024-01, with the labels that each got.

#815 fix: tests
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTestBase.java
Labels: bug

#771 ci: add dependency between workflows, and add more label in the list
  .github/workflows/check-pr-label.yaml
Labels: cicd

#818 feat: Allow xCall connection configurations when channel is not open
  contracts/cosmwasm-vm/cw-common/src/xcall_connection_msg.rs
  contracts/cosmwasm-vm/cw-ibc-core/tests/test_client.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/ack.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/ibc_host.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/src/state.rs
  contracts/cosmwasm-vm/cw-xcall-ibc-connection/tests/test_ibc_functions.rs
  contracts/javascore/xcall-connection/src/main/java/ibc/xcall/connection/IBCConnection.java
  contracts/javascore/xcall-connection/src/test/java/ibc/xcall/connection/IBCConnectionTest.java
  docs/adr/XCall_IBC_Connection.md
Labels: documentation, Feature

#779 fix: Add seperate varint decoder which handles long values
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTest.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTestBase.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/data/validator-with-long-voting-power/commit.1.json
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/data/validator-with-long-voting-power/commit.2.json
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/data/validator-with-long-voting-power/commit.3.json
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/data/validator-with-long-voting-power/validators.1.json
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/data/validator-with-long-voting-power/validators.2.json
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/data/validator-with-long-voting-power/validators.3.json
  contracts/javascore/score-util/src/main/java/ibc/icon/score/util/Proto.java
Labels: enhancement

#822 feat: Add revision number to light client heights
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintHelper.java
  contracts/javascore/lightclients/tendermint/src/main/java/ibc/tendermint/TendermintLightClient.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTest.java
  contracts/javascore/lightclients/tendermint/src/test/java/ibc/tendermint/LightClientTestBase.java
Labels: enhancement, Feature

#824 feat: implement get timestamp for tendermint
  libraries/go/common/tendermint/consensus_state_extended.go
Labels: Feature, Relay, iBriz, go
